# Handling Missing Data 
---------------
     1)  fillna() method 
     2)  Forward fill method
     3)  Backward fill method
     4)  dropna() method

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('DATA/season.csv')

# This is our dataframe
df

### Filling all the NaN with any number or string

If your dataframe contains NaN values then you can not do any data analysis operation because NaN doesnt make any sense to you.Sometimes it is better to fill it with any number or string.
* To fill all the cells containing NaN with any number or string we will use 
   > ##### fillna ( your_value_goes_here ) 
Here we are replacing all the NaN values with zeros.

In [ ]:
df

In [ ]:
df2=df.fillna(0)
df2

### Forward Fill Method

In various cases filling all NaN with same value leads to wrong conclusions. So we want to fill all the NaN of respective columns with data similar to that column. In the previous example we can see that filling zero in "day" column is not meaningful because zero does not denote any condition of day. What if we can fill the data similar to the respective columns. <br>
In the forward fill method we fill the value of NaN with the previous value of the same column like if we have NaN value in temp column in fourth row then the fourth row NaN value of temp column will be filled with the value of third row value of same column in this method 
 * This method can be implemented by 
         
         fillna ( method =" ffill ")

In [ ]:
df2=df.fillna(method='ffill')
df2

You can observe the 4th and 6th column of the temp and day, there is a change

### Backward Fill method

This is just opposite of forward fill method.In this method we will fill the NaN value of a dataframe with the value in the same column but next row value like if we have NaN in temp column in 4th row then we will fill it with data in 5th row in the same column.
* This can be implemented by   
> fillna ( method = "bfill")

In [ ]:
df2=df.fillna(method="bfill")
df2

* <b>limit=m :</b> If your dataframe is having "n" continuous NaN values and you want only "m" continuous NaN to fill by forward fill method or backward fill method then you can fill the m countinuous NaN by passing as extra argument in 
> <b>fillna(method="ffill",limit=m)</b>

### Interpolation Method

If you want to fill your dataframe column with the value relative to that column but not copied from previous or next row of the same column. Suppose value in a column in row-2 is 30 ,the same in row-4 is 34 and row-3 is NaN in same column. In this case if you apply interpolation you will get 32 in the row-2 in the same column.This is called linear interpolation.There are other types of interpolation exist -
* 1) linear
* 2) quadratic
* 3) polynomial
* 4) time etc

In [ ]:
df

In [ ]:
#By default it is linear interpolation
df2=df.interpolate()
df2

##### Note
* You can see that only temp column get affected because it contains values
* Interpolation only applies to columns which contains values not strings.

In [ ]:
df

#### "time" method:

     In time method, you can fill the NaN value with data according to time value it will continue with respect to time.
For example, if you have data like this-
      _____________________
     | dates     |  data   |
     |___________|_________|
     |01-02-2012 |   10    |
     |02-02-2012 |   30    |
     |03-02-2012 |   50    |
     |05-02-2012 |   NaN   |
     |06-02-2012 |   110   |
     |___________|_________|

You can observe that the data is increasing 20 units per day .If you apply interpolation probably you will get answer around 75 by linear method but if you apply time method you will get 90 instead of 75.Now you can see the differece in the values.
But there is a problem if you apply time method in dataframe without conveting its index to timestamp from string.
The following code will convert the index of df dataframe into timestamp.Here i have passes the dates column in the to_datetime() function it will return the timestamp value of dates column then after i set the dates column as its index.Now we can apply the "time" method successfully.

In [ ]:
df['dates'] = pd.to_datetime(df['dates'])
df = df.set_index('dates')
df

In [ ]:
df2=df.interpolate("time")
df2

### Droping the rows containing NaN

#### Droping rows containing NaN will done in following way -

 *  Droping or deleting all the rows which contains atleast on NaN <br>
 dropna() function will drop all the rows which contains atleast one NaN.

In [ ]:
df2=df.dropna()
df2

  *  Droping all the rows which contains all the values NaN <br>
To drop all the rows which contains only NaN except index(here date is the index) you need to pass how="all" in dropna() function.

In [ ]:
df2=df.dropna(how="all")
df2

*  Droping all the rows which contains n valid values (n is any natural number)
If you want to delete those rows which contain only n=2 valid values.In the same way you can delete for n=1,2,3..etc provided n<=number of columns.Here n is called thresold value.

In [ ]:
df2=df.dropna(thresh=1)
df2

        You can see the row which contains at least on valid values it remains same 
    and the row doesnt contains atleast one value gets deleted."not available" is not
    NaN so it will be considered as valid value for dropna() function.

### Replacing specific value some another value

       Suppose your dataframe contains some invalid values and you want to replace it with some other values like 0 or NaN.
    In this case special values are 5000 and 2000.You can see the following result where 2000 and 5000 is replaced by NaN
    value

In [ ]:
import numpy as np
df2=df.replace(["5000","2000"],np.NaN)
df2

    There is one problem with this approach is it will replace all the values which you have passed in the list with
    you your value but in many other cases you dont want it like if you have 50000 in price column it is valid but if
    50000 is in name column it is not valid in this case.So you only want to replace 50000 of name column with NaN but
    not of price column.
    In that case you need to pass the disctionary in the replace column.This disctionary will contain name of the column
    and the value you want to replace

In [ ]:
df2=df.replace({
    'Age':["2000","5000"],
    'No_of_pkg':["2000","5000"],
    "travel_id":[0]
},np.NaN)
df2

    If you want to replace some specific value like 5000 with any other value and so on.In that case you need 
    to pass the disctionary with all keys which you want to replace and values which you want to replace with.
    Here 5000,2000,8 are values to replaced are the keys and np.NaN & 10 are values to be replaced with are value
    of the disctionary.

In [ ]:
df2=df.replace({
    "5000":np.NaN,
    "2000":np.NaN,
       8:10
})
df2

**Note:** All the values in the dataframe that belongs to keys of disctionary will be replaced no matter what column it is.

### Removing unnecessary characters from columns

    Suppose your dataframe contains unnecessary characters with your data values. Here years/yrs/Yrs/Years
    in Age column, same in the No_of_pkg & Package columns are unnecessary charactors which you dont want 
    and these charactor will prevent you from applying any kind of operation in data analysis.So you want
    to get rid of it.In that case you have to pass regex as a value and column name as a key of the 
    disctionary which you have passed in the replace() function as well as you also have to set regex=True
    and a pass an empty string
    
* ** <code> [A-Za-z] </code> ** : This is the regex of all the character from A to Z and a to z.
* <b><code> \$ </code></b> : This is the regex for **<code>$</code>** sign.
* For futher information about regex go to this link https://medium.com/factory-mind/regex-tutorial-a-simple-cheatsheet-by-examples-649dc1c3f285

In [ ]:
df3=df2.replace({
    'Age':'[A-Za-z]',
    'No_of_pkg':'[A-Za-z]',
    'Package':'\$'
},"",regex=True)
df3

### Mapping from one list to another list

     If your dataset contains data which is repeating more than once or you want to change some set of string in to
     number then you have apply list mapping.

In [ ]:
mydis={
    "name":["Shahid","Adrika","Bikash","Ashish","Ganesh","Zahid","Mohan","Sohan"],
    "grades":["poor","excellent","very good","average","good","very good","outstanding","poor"]
      }
df=pd.DataFrame(mydis)
df

In [ ]:
df2=df.replace(["poor","average","good","very good","excellent","outstanding"],[5,6,7,8,9,10])
df2